{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}

    {# <div class="jumbotron jumbotron-fluid">
         <div class="container">
             <h1 class="display-4">MediaStore</h1>
             <p class="lead">ajouter image ici</p>
         </div>
     </div>  #} 
    <div class='background-books'>

        <div class="container"  >
            <h1 class="center text-center font-fam-brush" style="font-size: 150px;color: #ad8c71"><i>Book Store</i></h1>
        </div>
    </div>
    {#<div class="separator-test"></div>#}
    <div>
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row">
                <div class="col-sm-3">
                    <div class="container border-custom-little font-fam-courrier">
                        <div class='row'>
                            <div>
                                <h3><a class="btn-transparent">Accueil </a></h3>
                                <h4><a class="btn-transparent">Test</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 offset-1">
                    <div class="container-fluid rounded  font-fam-courrier" >
                        <div >
                            <h1 class="title" >Accueil</h1>
                            <hr>
                            <div class="container-fluid">

                                {% for produit in produits %}
                                    <div class="col-sm-4">
                                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                            <img class="card-img-top" src="{{produit.getProImage}}" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text">{{produit.getProNom}}</p>
                                                <a href="{{ path('produit', { 'id': produit.getProId }) }}" class="btn btn-secondary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{%block footer %}
    <footer>
        <div class="text-center">
            <p>Contact : sara.louafi.66@gmail.com</p>
            <p>Copyright @ 2018</p>
        </div>
    </footer>
{% endblock %}
