/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 janv. 2018, 14:08:13
    Author     : Sara
*/

@import '~bootstrap/scss/bootstrap';

html{
    height : 100%;
}
body {
    //height : 100%;
    margin: 0;
    padding: 0;
   
}
footer{
    background: url('http://eskipaper.com/images/dark-background-8.jpg');
    color : white;
    //position:absolute;
    bottom:0;
    width:100%;
    //padding-top:50px;
    // height:50px;
    //background-size: cover;
    height : 100%;
    //background-attachment: fixed;
    //overflow: hidden;
}

.linear-gradient-blue {
    background: linear-gradient(to bottom left, #dddfee 0%, #bcc6e7 100%);
}

.background-uni-blue{
    background-color: #bcc6e7
}
.linear-gradient-brown{
    background: linear-gradient(to bottom left, #9a7b60 0%, #685241 100%);  
}
.background-uni-grey{
    background-color: #dddfee
}
.background-body-brown{
    background: url('../../public/images/brown-grunge-background.jpg')no-repeat center center;
    width: 100%;
    background-size: cover;
}
.background-planches-brown{
    
    background: url('../../public/images/brown-wood.png')no-repeat center center;
    -moz-background-size:100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100%;
    background-size: cover;
    color: #ad8c71;
    //height : 100%;
    //position: fixed; 

    // left: 0px; 
    // top: 0px; 
}

.background-fond-brown{
    background: url('../../public/images/brown-background.jpg')no-repeat center center;
    width: 100%;
    background-size: cover;
}
.background-books {
    background: transparent url('../../public/images/library.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    min-height:400px;
    width: 100%;
    background-attachment: fixed;
}


.border-custom{
    border: double orange 20px;
    //border-image-source: url('http://images.clipartpanda.com/simple-border-clipart-jRiGAaxcL.png') 30 round;
    border-width: 40px 40px 40px 40px;
    border-image: url("http://images.clipartpanda.com/simple-border-clipart-jRiGAaxcL.png") ;
    border-image-slice: 800;
}
.border-custom-little{
    border: double orange 20px;
    border-width: 40px 40px 40px 40px;
    //border-image: url("https://openclipart.org/image/2400px/svg_to_png/189258/ornateeyeballframe.png") repeat;
    border-image: url('../../public/images/border.png') repeat;
    border-image-slice: 685;
}

.btn-transparent{
    cursor: default;
}

.btn-transparent:hover{
    background-color: hsla(27, 0%, 82%, 0.1);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.font-fam-courrier{
    font-family: 'Courier New', Courier, monospace;
    color: #ad8c71;
}

.font-fam-brush{
    font-family: Brush Script MT, Brush Script Std, cursive
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}